
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<meta charset="utf-8">

      div h1, h2 {
        background-color: rgb(152, 200, 145);
      }
  h1 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
      }
  
  #lets {
      margin-top: 20px;
      margin-left:20px;
      font-size: 1.75em;
      
    }
    #second_line {
    font-size: .75em;
    text-align: right;
    margin-right: 10px;
    text-decoration: overline;
    }

  #couple {
    position: absolute;
    margin-left: 140px;
     border: 2px solid grey;
  border-radius: 5px;
      }
    #house {
    position: absolute;
     border: 2px solid grey;
  border-radius: 5px;
  }
  #sidescroll {
    margin-right: 5%;
    font-size: 1.75em;
    width: 40%;
    float: right;
    align: right;
    text-align: center;
    border: 2px solid grey;
  border-radius: 5px;
    background-color: rgb(240, 40, 200)
  }
  #liststuff {
    display: block;
    border: 2px solid grey;
  border-radius: 5px;
    
    margin-top: 150px;
    font-size: 20px;
    display: block;
    margin-right: 50%
   }
  h2 {
   
      
    color: white;
  }
  .inlist {
    margin-top: 3px;
    margin-bottom: 4px;
  }
  


